# Writing your own functions

Dalam bab ini, Anda akan belajar cara menulis fungsi sederhana, serta fungsi yang menerima banyak argumen dan mengembalikan beberapa nilai. Anda juga akan memiliki kesempatan untuk menerapkan keterampilan baru ini untuk pertanyaan yang biasa ditemui oleh para ilmuwan data.

## User-defined functions

### Strings in Python

Anda mengetahui datatype standar Python lain yaitu, `strings`. Ingat bahwa ini mewakili data tekstual. Untuk menetapkan string `'DataCamp'` ke variabel `company`, Anda menjalankan:

<pre>company = 'DataCamp'</pre>

Anda juga telah belajar menggunakan operasi `+` dan `*` dengan string. Berbeda dengan tipe numerik seperti int dan float, operator `+` *menggabungkan* string bersama, sedangkan `*` menggabungkan banyak salinan string bersama-sama. Dalam latihan ini, Anda akan menggunakan operasi `+` dan `*` pada string untuk menjawab pertanyaan di bawah ini. Jalankan kode berikut:

In [1]:
object1 = "data" + "analysis" + "visualization"
object2 = 1 * 3
object3 = "1" * 3

Apa nilai masing-masing dalam `object1`, `object2`, dan `object3` ?

In [2]:
print(object1)
print(object2)
print(object3)

dataanalysisvisualization
3
111

### Recapping built-in functions

Pada video, Hugo secara singkat memeriksa perilaku pengembalian fungsi bawaan Python (*built-in functions*) `print()` dan `str()`. Di sini, Anda akan menggunakan kedua fungsi dan memeriksa nilai kembalinya. Variabel `x` telah dimuat sebelumnya untuk latihan ini. Jalankan kode di bawah ini. Perhatikan hasil untuk menjawab pertanyaan berikut.

* Tetapkan `str(x)` ke variabel `y1` : `y1 = str(x)`
* Tetapkan `print(x)` ke variabel `y2` : `y2 = print(x)`
* Periksa jenis variabel `x`, `y1`, dan `y2`.

Apa sajakah tipe `x`, `y1`, dan `y2`?

In [3]:
x = 4.89
y1 = str(x)
y2 = print(x)

print(type(x))
print(type(y1))
print(type(y2))

4.89
<class 'float'>
<class 'str'>
<class 'NoneType'>

**Note** : Penting untuk diingat bahwa menetapkan variabel `y2` ke fungsi yang mencetak nilai tetapi tidak mengembalikan nilai akan menghasilkan tipe variabel `y2` menjadi `NoneType`.

### Write a simple function

Tentukan fungsi, `shout()` yang hanya mencetak string dengan tiga tanda seru `'!!!'` di akhir. Kode untuk fungsi `square()` yang kami tulis sebelumnya ditemukan di bawah ini. Anda bisa menggunakannya sebagai pola untuk mendefinisikan `shout()`.

In [4]:
def square():
    new_value = 4 ** 2
    return new_value

**Note** : Perhatikan bahwa badan fungsi sudah diberi **indentasi 4 spasi** untuk Anda. Badan fungsi perlu diindentasi dengan jumlah ruang yang konsisten dan pilihan 4 adalah umum.

In [5]:
# Define the function shout
def shout():
    """Print a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = 'congratulations' + '!!!'

    # Print shout_word
    print(shout_word)

# Call shout
shout()

congratulations!!!

### Single-parameter functions

Anda sekarang akan memperbarui `shout()` dengan menambahkan parameter sehingga dapat menerima dan memproses argumen string apa pun yang diteruskan ke sana. Perhatikan juga bahwa `shout(word)`, bagian dari tajuk yang menentukan nama fungsi dan parameter, dikenal sebagai *signature* dari fungsi tersebut. Anda mungkin menemukan istilah ini di luar sana!

In [6]:
# Define shout with the parameter, word
def shout(word):
    """Print a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = word + '!!!'

    # Print shout_word
    print(shout_word)

# Call shout with the string 'congratulations'
shout('congratulations')

congratulations!!!

### Functions that return single values

Cobalah untuk modifikasi pada fungsi `shout()` sehingga sekarang *mengembalikan* nilai tunggal alih-alih mencetak di dalam fungsi. Ingat bahwa kata kunci `return` memungkinkan Anda mengembalikan nilai dari fungsi. Bagian dari fungsi `shout()`, yang Anda tulis sebelumnya, ditampilkan. Mengembalikan nilai umumnya lebih diinginkan daripada mencetaknya karena, seperti yang Anda lihat sebelumnya, panggilan `print()` yang ditugaskan ke variabel memiliki tipe `NoneType`.

In [7]:
# Define shout with the parameter, word
def shout(word):
    """Return a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = word + '!!!'

    # Replace print with return
    return shout_word

# Pass 'congratulations' to shout: yell
yell = shout('congratulations')

# Print yell
print(yell)

congratulations!!!

## Multiple parameters and return values

### Functions with multiple parameters

Anda sekarang akan menggunakan apa yang telah Anda pelajari untuk memodifikasi fungsi `shout()` lebih lanjut. Di sini, Anda akan memodifikasi `shout()` untuk menerima dua argumen. Bagian dari fungsi `shout()`, yang Anda tulis sebelumnya, ditampilkan.

In [8]:
# Define shout with parameters word1 and word2
def shout(word1, word2):
    """Concatenate strings with three exclamation marks"""
    # Concatenate word1 with '!!!': shout1
    shout1 = word1 + '!!!'
    
    # Concatenate word2 with '!!!': shout2
    shout2 = word2 + '!!!'
    
    # Concatenate shout1 with shout2: new_shout
    new_shout = shout1 + shout2

    # Return new_shout
    return new_shout

# Pass 'congratulations' and 'you' to shout(): yell
yell = shout('congratulations', 'you')

# Print yell
print(yell)

congratulations!!!you!!!

### A brief introduction to tuples

Selain belajar tentang fungsi, Anda juga belajar tentang tupel! Di sini, Anda akan mempraktekkan apa yang telah Anda pelajari tentang tuple: cara membuat (*construct*), membongkar (*unpack*), dan mengakses (*access*) elemen tuple. Berikut adalah contoh membongkar tuple `even_nums`:

<pre>a, b, c = even_nums</pre>

Sebuah tuple tiga elemen bernama `nums` telah dimuat sebelumnya untuk latihan ini. Sebelum menyelesaikan skrip, lakukan hal berikut:

* Cetak nilai `nums` di shell IPython. Perhatikan elemen-elemen dalam tuple.
* Dalam shell IPython, cobalah untuk mengubah elemen pertama `nums` ke nilai 2 dengan melakukan tugas: `nums[0] = 2` . Apa yang terjadi?

In [10]:
nums = (3, 4, 6)
print(nums)

(3, 4, 6)

In [11]:
nums[0] = 2

TypeError: 'tuple' object does not support item assignment

In [12]:
# Unpack nums into num1, num2, and num3
num1, num2, num3 = nums

# Construct even_nums
even_nums = (2, 4, 6)

### Functions that return multiple values

Di sini Anda akan mengembalikan beberapa nilai dari suatu fungsi menggunakan tuple. Sekarang mari kita perbarui fungsi `shout()` kita untuk mengembalikan beberapa nilai. Alih-alih mengembalikan hanya satu string, kami akan mengembalikan dua string dengan string `!!!` disatukan untuk masing-masing.

**Note** : Perhatikan bahwa pernyataan pengembalian `return x, y` memiliki hasil yang sama dengan `return (x, y)` : yang sebelumnya benar-benar mengemas `x` dan `y` ke dalam tupel.

In [13]:
# Define shout_all with parameters word1 and word2
def shout_all(word1, word2):
    
    # Concatenate word1 with '!!!': shout1
    shout1 = word1 + '!!!'
    
    # Concatenate word2 with '!!!': shout2
    shout2 = word2 + '!!!'
    
    # Construct a tuple with shout1 and shout2: shout_words
    shout_words = (shout1, shout2)

    # Return shout_words
    return shout_words

# Pass 'congratulations' and 'you' to shout_all(): yell1, yell2
yell1, yell2 = shout_all('congratulations', 'you')

# Print yell1 and yell2
print(yell1)
print(yell2)

congratulations!!!
you!!!

## Bringing it all together

Anda pertama kali menulis fungsi sendiri di latihan sebelumnya. Anda telah belajar cara menambahkan parameter ke definisi fungsi Anda sendiri, mengembalikan nilai atau beberapa nilai dengan tupel, dan cara memanggil fungsi yang telah Anda tetapkan.

Dalam latihan ini dan berikut ini, Anda akan menyatukan semua konsep ini dan menerapkannya pada masalah ilmu data sederhana. Anda akan memuat dataset dan mengembangkan fungsionalitas untuk mengekstrak wawasan sederhana dari data.

Untuk latihan ini, tujuan Anda adalah mengingat cara memuat dataset ke DataFrame. Dataset berisi data Twitter dan Anda akan mengiterate entri dalam kolom untuk membangun *dictionary* di mana kuncinya adalah nama-nama bahasa dan nilainya adalah jumlah tweets dalam bahasa yang diberikan. File `tweets.csv` tersedia di direktori Anda saat ini.

**Note** : *Ketahuilah bahwa ini adalah data asli dari Twitter dan karena itu selalu ada risiko bahwa data itu mungkin mengandung kata-kata tidak senonoh atau konten menyinggung lainnya (dalam latihan ini, dan setiap latihan berikut yang juga menggunakan data Twitter asli).*

In [15]:
# Import pandas
import pandas as pd

# Import Twitter data as DataFrame: df
twitter_data = 'https://assets.datacamp.com/production/repositories/463/datasets/82e9842c09ad135584521e293091c2327251121d/tweets.csv'
df = pd.read_csv(twitter_data)
df.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,714960401759387648,...,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,714960401977319424,...,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"{'utc_offset': None, 'profile_image_url_https'..."
2,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402426236928,...,NaN,NaN,0,False,NaN,"<a href=""http://www.facebook.com/twitter"" rel=...",Njihuni me Zonjën Trump !!! | Ekskluzive https...,1459294817917,False,"{'utc_offset': 7200, 'profile_image_url_https'..."
3,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402367561730,...,7.149239e+17,7.149239e+17,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",Your an idiot she shouldn't have tried to grab...,1459294817903,False,"{'utc_offset': None, 'profile_image_url_https'..."
4,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...",NaN,0,False,low,NaN,714960402149416960,...,NaN,NaN,0,False,"{'retweeted': False, 'text': 'The anti-America...","<a href=""http://twitter.com/download/iphone"" r...",RT @AlanLohner: The anti-American D.C. elites ...,1459294817851,False,"{'utc_offset': -18000, 'profile_image_url_http..."

In [18]:
df['lang'].head()

0    en
1    en
2    et
3    en
4    en
Name: lang, dtype: object

In [16]:
# Initialize an empty dictionary: langs_count
langs_count = {}

# Extract column from DataFrame: col
col = df['lang']

# Iterate over lang column in DataFrame
for entry in col:

    # If the language is in langs_count, add 1 
    if entry in langs_count.keys():
        langs_count[entry] += 1
    # Else add the language to langs_count, set the value to 1
    else:
        langs_count[entry] = 1

# Print the populated dictionary
print(langs_count)

{'en': 97, 'et': 1, 'und': 2}

Anda sekarang telah mendefinisikan fungsionalitas untuk mengiterate entri dalam kolom dan membangun dictionary dengan kunci nama-nama bahasa dan nilai jumlah tweet dalam bahasa yang diberikan.

Dalam latihan ini, Anda akan mendefinisikan fungsi dengan fungsi yang Anda kembangkan dalam latihan sebelumnya, mengembalikan dictionary yang dihasilkan dari dalam fungsi, dan memanggil fungsi dengan argumen yang sesuai.

In [19]:
tweets_df = pd.read_csv(twitter_data)

In [20]:
# Define count_entries()
def count_entries(df, col_name):
    """Return a dictionary with counts of 
    occurrences as value for each key."""

    # Initialize an empty dictionary: langs_count
    langs_count = {}
    
    # Extract column from DataFrame: col
    col = df[col_name]
    
    # Iterate over lang column in DataFrame
    for entry in col:

        # If the language is in langs_count, add 1
        if entry in langs_count.keys():
            langs_count[entry] += 1
        # Else add the language to langs_count, set the value to 1
        else:
            langs_count[entry] = 1

    # Return the langs_count dictionary
    return langs_count

# Call count_entries(): result
result = count_entries(tweets_df, 'lang')

# Print the result
print(result)

{'en': 97, 'et': 1, 'und': 2}